bin/**
Renderer/Assets/Fonts/**
Renderer/Assets/Models/**
Renderer/Assets/Shaders/*.spv
Renderer/Assets/Sounds/**
Renderer/Assets/Textures/**

*.make
Makefile
imgui.ini

.vscode/**
.vs/**
*.sln
*.vcx*

vendor/glfw/**
vendor/assimp/**
vendor/freetype2/**